<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-success">
      <div class="panel-heading">Login</div>
        <div class="panel-body">
        <%= form_for @agent_session  do |f| %>
          <%= show_errors(@agent_session) %>
          <%= f.text_field :email , :size=>25 , :placeholder=>'Email address' %><br><br>
          <%= f.password_field :password, :size=> 25 , :placeholder=>"Password" %><br><br>
          <%= f.submit "Login" , :class=>"btn btn-success btn-sm"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
