<div class="container">
    <div class='panel panel-info'>
        <div class='panel-heading'>
            <h3>
                Billing History - Policy <%= @policy.number %>
                <%= link_to 'Back', account_policy_path(@policy.id) , :class=>'btn btn-link'%>
            </h3>
        </div>
        <div class='panel-body'>
            <% @transactions.each do |t| %>
                <div class="row">
                    <div class="col-md-4">
                      <strong><%= "#{t.first_name} #{t.last_name}"%></strong>
                  </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                    <strong>Number </strong><%= t.card_number %>
                </div>
                <div class="col-md-4">
                    <strong>Card Type </strong><%= t.card_type %>
                </div>
                <div class="col-md-4">
                    <strong>Amount $ </strong><%= t.amount %>
                </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <strong> Start Date </strong><%= t.created_at %>
                    </div>
                    <div class="col-md-4">
                        <strong> End Date </strong><%=t.created_at + 1.year %>
                    </div>
                </div>
                <hr>
            <% end %>
            </div>
    </div>
</div>
