<div class="container">

        <%= show_errors(@agent) %>

        <%= form.label :first_name %></br>
        <%= form.text_field :first_name %></br>
        <%= form.label :last_name %></br>
        <%= form.text_field :last_name %></br>
        <%= form.label :company %></br>
        <%= form.text_field :company %></br>
        <%= form.label :email %></br>
        <%= form.text_field :email %></br>
        <%= form.label :password %></br>
        <%= form.password_field :password %></br>
        <%= form.label  'Confirm Password'%></br>
        <%= form.password_field :password_confirmation %>
    </br>
    </br>
        <%= form.submit "Submit", :class=>"btn btn-primary" %>
        <%= link_to "Cancel", :back,  :class=> "btn btn-primary", :confirm=>"Are you sure?" %>
</div>


