<% content_for :title , "My Account" %>

<div class="container">
<div class="row">
    <div class="page-header">
        <h1><%= "#{@agent.first_name}  #{@agent.last_name}" %>
            <%= link_to "Edit", edit_account_path, :class=>"btn btn-link" %></h1>
    </div>
</div>

<div class="row">
    <div class="span4">
        <strong>Company </strong>
        <%= @agent.company %>
    </div>
    <div class="span4">
        <strong>Email </strong>
        <%= @agent.email %>
    </div>
</div>

<div class="row">
    <div class="page-header">
        <h1>Policies
         <%= link_to "Add Policy", new_account_policy_path, :class=>"btn btn-link" %>
     </h1>
    </div>
</div>
</div>

<div class="container">
        <%= render :partial=>"policies/policies", :object=>@agent %>
</div> <!-- container -->
