<% content_for :title , "Account" %>
<div class="container">
    <div class="panel panel-success">
        <div class="panel-heading">
        <h3><%= "#{@agent.first_name}  #{@agent.last_name}" %> <%= link_to "Edit", edit_account_path, :class=>"btn btn-link" %></h3>
        </div>
        <div class="panel-body">
        <div class="row">
        <div class="col-md-3">
            <strong>Company </strong>
            <%= @agent.company %>
        </div>
        <div class="col-md-3">
            <strong>Email </strong>
            <%= @agent.email %>
        </div>
    </div>
    </div>
    </div>
</div>
<div class="container">
    <div class="panel panel-default">
        <div class='panel-heading'>
            <h3>Policies <%= link_to "Add Policy", new_account_policy_path, :class=>"btn btn-link" %></h3>
        </div>
        <div class="panel-body">
            <%= render :partial=>"policies/policies", :object=>@agent %>
        </div>
</div> <!-- container -->
