<fieldset>
    <div class="form-group">
        <%= form.label :vin, "VIN", :class=>"col-md-2 control-label" %>
        <div class="col-md-10">
            <%= form.text_field :vin, :class=>"form-control", :size=>10 %>
        </div>
    </div>
    <div class="form-group">
        <%= form.label :drivers %>
        <%= form.text_field :drivers, :placeholder=>"John Doe, Jane Doe" , :size=> 35%>
    </div>
    <div class="form-group">
        <%= form.label :make%>
        <%= form.text_field :make %>
    </div>
    <div class="form-group">
        <%= form.label :model%>
        <%= form.text_field :model %>
    </div>
    <div class="form-group">
        <%= form.label :year %>
        <%= form.text_field :year %>
    </div>
    <div class="form-group">
        <%= form.label :color %>
        <%= form.text_field :color %>
    </div>
    <div class="form-group">
        <%= form.label :deductible %>
        <%= form.text_field :deductible %>
    </div>
    <div class="form-group">
        <%= form.label :previous_deductible %>
        <%= form.text_field :previous_deductible %>
    </div>
</fieldset>
