
<div class="row">
<%if @policy.vehicles.count > 0 %>
<table class="table">
    <tr>
        <th>Vin</th>
        <th>Make</th>
        <th>Model</th>
        <th>Deductible</th>
        <th>Status</th>
    </tr>
    <% @policy.vehicles.each do |v| %>
    <tr>
        <td><%= link_to raw("<span class='glyphicon glyphicon-remove'></span>"), account_policy_vehicle_path(@policy.id, v.id),
                :method=>:delete, :data=>{:confirm=>"Are you sure you want to remove this vehicle?"}, :class=>'btn btn-xs btn-default'%>
                <%= link_to v.vin, account_policy_vehicle_path(v.policy_id, v.id) %></td>
        <td><%= v.make %></td>
        <td><%= v.model %></td>
        <td><%= v.deductible %></td>
        <td>TODO:StatusContent</td>
    </tr>
    <% end %>
</table>
<% else %>
<p>The policy does not have any vehicles covered at this time.</p>
<% end %>
</div>
