<div class="container">
<div class="row">
    <div class="span4">
        <strong>VIN </strong>
        <%= v.vin %>
    </div>
    <div class="span4">
        <strong>Make </strong>
        <%= v.make %>
    </div>
    <div class="span4">
        <strong>Model </strong>
        <%= v.model %>
    </div>
    <div class="span4">
        <strong>Color </strong>
        <%= v.color %>
    </div>
    <div class="span4">
        <strong>Drivers</strong>
        <%= v.drivers %>
    </div>
</div>

</br>
<div class="row">
    <div class="span12">
        <h3>Coverage Information</h3>
    </div>
</div>

<div class="row">
    <div class="span4">
        <strong>Start  </strong>
        <%= v.start_date %>
    </div>
    <div class="span4">
        <strong>Expires </strong>
        <%= v.expr_date %>
    </div>
    <div class="span4">
        <strong>Deductible $</strong>
        <%= v.deductible %>
    </div>
</div>
</div>
