<fieldset>
    <div class="form-group">
        <%= form.label :vin, "VIN", :class=>"col-md-2 control-label" %>
        <div class="col-md-10">
            <%= form.text_field :vin, :class=>"form-control" %>
        </div>
    </div>
    <div class="form-group">
        <%= form.label :drivers , :class=>"col-md-2 control-label" %>
        <div class="col-md-10">
            <%= form.text_field :drivers, :placeholder=>"John Doe, Jane Doe" , :class=>"form-control"%>
        </div>
    </div>
    <div class="form-group">
        <%= form.label :make, :class=>"col-md-2 control-label"%>
        <div class="col-md-10">
            <%= form.text_field :make , :class=>"form-control"%>
        </div>
    </div>
    <div class="form-group">
        <%= form.label :model, :class=>"col-md-2 control-label"%>
        <div class="col-md-10">
            <%= form.text_field :model, :class=>"form-control" %>
        </div>
    </div>
    <div class="form-group">
        <%= form.label :year , :class=>"col-md-2 control-label"%>
        <div class="col-md-10">
            <%# This is because we are using the same form for new and edit %>
             <% year = Date.today %>
            <% unless @vehicle.nil? || @vehicle.year.nil?  %>
                <% year = @vehicle.year %>
            <% end %>
            <%= select_year(year, {:start_year=>1930, :end_year=>Date.today.year}, {:class=>'form-control', :id=>'vehicle_year', :name=>'vehicle[year]'}) %>
        </div>
    </div>
    <div class="form-group">
        <%= form.label :color , :class=>"col-md-2 control-label"%>
        <div class="col-md-10">
            <%= form.text_field :color, :class=>"form-control" %>
        </div>
    </div>
    <div class="form-group">
        <%= form.label :deductible, :class=>"col-md-2 control-label" %>
        <div class='input-group col-md-10'>
            <span class="input-group-addon">$</span>
            <%= form.text_field :deductible , :class=>"form-control money"%>
            <span class="input-group-addon">.00</span>
        </div>
    </div>
    <div class="form-group">
        <%= form.label :previous_deductible,  'Previous Deductible' , :class=>"col-md-2 control-label" %>
        <div class="col-md-10 input-group">
            <span class="input-group-addon">$</span>
            <%= form.text_field :previous_deductible, :class=>"form-control money"%>
            <span class="input-group-addon">.00</span>
        </div>
    </div>
</fieldset>
