<% content_for :title, 'New Vehicle' %>

<div class='container'>
    <div class="panel panel-default">
        <div class='panel-heading'>
            <h3>New Vehicle</h3>
        </div>
        <div class='panel-body'>
            <%= form_for @vehicle, :url=>account_policy_vehicles_path do |f| %>
                <%= show_errors(@vehicle) %>
                <%= render :partial=>'vehicles_mini', :locals=>{:form=>f , :selectid=>'vehicle[year]'} %>
                <%= f.submit 'Submit', :class=>'btn btn-default' %>
                <%= link_to 'Cancel', :back, :class=>'btn btn-default', :confirm=>"Are you sure?" %>
            <% end %>
        </div>
    </div>
</div>

