<div class="container">
    <div class="row">
        <div class="page-header">
            <h1>Coverage Paymet</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <%= render :partial=>'vehicle_view', :locals=>{:v=>@vehicle} %>
        </div>

        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3>Billing Information</h3>
                </div>
                <div class="panel-body">
                    <%= form_tag(pay_path, method:  "patch")  do %>
                        <%= label_tag :first_name %>
                        <%= text_field_tag :firstname, @vehicle.policy.first_name %>
                    </p>
                    <p>
                        <%= label_tag :last_name %>
                        <%= text_field_tag :last_name,  @vehicle.policy.last_name %>
                    </p>
                    <p>
                        <%= label_tag :address %>
                        <%= text_field_tag :address, @vehicle.policy.address %>
                    </p>
                    <p>
                        <%= label_tag :city %>
                        <%= text_field_tag :city, @vehicle.policy.city %>
                    </p>
                    <p>
                        <%= label_tag :zip_code %>
                        <%= text_field_tag :zip_code , @vehicle.policy.zip_code %>
                    </p>
                        <div>Card Information</div>
                        <p>
                        <%= label_tag :card_number %>
                        <%= text_field_tag :card_number %>
                    </p>
                    <p>
                        <%= label_tag :card_type %>
                        <%= text_field_tag :card_type %>
                    </p>
                        <%= label_tag :exp, "Expiration" %>
                        <%= text_field_tag(:exp , nil, placeholder: "MM/YY") %>
                    <p>
                        <%= label_tag :csc %>
                        <%= text_field_tag :csc %>
                    </p>
                        <%= submit_tag 'Submit', :class=>'btn btn-primary' %>
                        <% end %>
                </div>
            </div> <!-- panel body -->
        </div><!-- panel -->
    </div>
</div>


