<div class="container">
    <div clas="row">
<% if @policy.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@policy.errors.count, "error") %> prohibited this post from being saved:</h2>
        <ul>
        <% @policy.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
<% end %>
</div>

<%= form.label :number,  'Policy number' %></br>
<%= form.text_field :number %></br>
<%= form.label :first_name %></br>
<%= form.text_field :first_name %></br>
<%= form.label :last_name %></br>
<%= form.text_field :last_name %></br>
<%= form.label :email %></br>
<%= form.text_field :email %></br>
<%= form.label :address %></br>
<%= form.text_field :address %></br>
<%= form.label :city %></br>
<%= form.text_field :city %></br>
<%= form.label :state %></br>
<%= form.text_field :state %></br>
<%= form.label :zip_code %></br>
<%= form.text_field :zip_code %></br>
</br>
Vehicles -
<div id="vehicles" class="col-lg-12">
    Put existing vehicles here....
</div>
<%= add_object_link("Add Vehicle", form, Vehicle.new, "vehicles/vehicles_mini", "#vehicles" ) %></br>

<%
=begin%>
 <ul>
    <%= form.fields_for :vehicles do |vehicles_form| %>
    <li>
        <%= vehicles_form.label :vin %>
        <%= vehicles_form.text_field :vin %></br>
        <%= vehicles_form.label :make %>
        <%= vehicles_form.text_field :make %> </br>
        <%= vehicles_form.label :model %>
        <%= vehicles_form.text_field :model %></br>
        <%= vehicles_form.label :color %>
        <%= vehicles_form.text_field :color %></br>
        <%= vehicles_form.label :previous_deductible %>
        <%= vehicles_form.text_field :previous_deductible %></br>
        <%= vehicles_form.label :deductible %>
        <%= vehicles_form.text_field :deductible %></br>
    </li>
    <% end %>
</ul>
<%
=end%>

<%= form.submit "Submit" , :class=>"btn btn-primary"%>
<%= link_to "Cancel", :back,  :class=>"btn btn-primary", :confirm=>"Are you sure?" %>
</div>

