<% content_for :title, "New Policy" %>
<div class="container">
    <div class="page-header">
        <h1>Add Policy</h1>
    </div>
</div>

<%= form_for @policy, :url=>account_policies_path do |f| %>
    <%= render :partial=>'form', :object=>f %>
    <%= f.fields_for :vehicles  do |vehicles| %>
        <%= render :partial=>'vehicles/vehicles_mini', :locals=>{:form=>vehicles} %>
    <% end %>
    <div class="container">
        <%= f.submit 'Submit', :class=>'btn btn-primary' %>
        <%= link_to 'Cancel', :back, :class=>'btn btn-primary', :confirm=>"Are you sure?" %>
    </div>
<% end %>
