    <% content_for :title, "New Policy" %>

    <h1>New  Policy</h1>

    <%= form_for @policy, :url=>account_policies_path do |f| %>

    <% if @policy.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@policy.errors.count, "error") %> prohibited this post from being saved:</h2>
            <ul>
            <% @policy.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
    <% end %>

    <%= f.label :number,  'Policy number' %>
    <%= f.text_field :number %>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.label :address %>
    <%= f.text_field :address %>
    <%= f.label :city %>
    <%= f.text_field :city %>
    <%= f.label :state %>
    <%= f.text_field :state %>
    <%= f.label :zip_code %>
    <%= f.text_field :zip_code %>
</br>
    <%= f.submit "Submit" %>

    <% end %>
